<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" href="http://icons.iconarchive.com/icons/papirus-team/papirus-apps/512/weather-icon.png">
    <link rel="stylesheet" href="./css/start.css">
</head>

<body>
    <div class="wrap-container">
        <p>Please provide city name in the url params: <br> (Example - localhost:8000/mumbai)</p>
    </div>
    <div class="app-wrap"></div>

</body>

</html>